{{define "header.html"}}
    <!doctype html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="/deliverable/asset/css/bootstrap.min.css">
        <link rel="stylesheet" href="/deliverable/asset/css/header.css">
        <link rel="stylesheet" href="/deliverable/asset/css/project.css">
        <link rel="stylesheet" href="/deliverable/asset/css/footer.css">
        <link rel="stylesheet" href="/deliverable/asset/css/index.css">

        <title>IJobs Online Job application</title>
    </head>
    <body>
    <nav>
        <div class="logo-div col-lg-3 col-sm-5 col-md-4 col-xl-2" >
            <img src="/deliverable/asset/img/icon/j.jpg" alt="iJobs Logo" width="100px" height="100px">
        </div>
        <div class="nav-div col-lg-9 col-sm-7 col-md-8 col-xl-10" >
            <ul>
                <li><a href="#">Home</a> </li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Jobs</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div>

    </nav>
{{end}}