{{define "index.layout" }}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/deliverable/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/deliverable/asset/css/header.css">
    <link rel="stylesheet" href="/deliverable/asset/css/project.css">
    <link rel="stylesheet" href="/deliverable/asset/css/footer.css">
    <link rel="stylesheet" href="/deliverable/asset/css/index.css">

    <title>IJobs Online Job application</title>
</head>
<body>
    {{template "header.html" .}}
    {{template "index.content" .}}
    {{template "footer.html" .}}
</body>
</html>
{{end}}

