<!DOCTYPE html>
<html lang="en">
{{ define "job_seeker_profile" }}
{{ template "footer" . }}

{{ end }}
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


 <div class="container-fluid">     
    <div class="m-5 row">
	
      <div class="col-sm-2 ">
       <img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\logo.PNG">
      </div>
	    <div class="col-sm-2 ">
       <h5>Home</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>Find company</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>profile</h5>
      </div>
	   
	    <div class="col-sm-2 ">
       <h5>Applied jobs</h5>
      </div>
<div class="container">
 
  <div class="container">     
    <div class="m-5 row">
      <div class="col-sm-6">
       <img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Company_logo.PNG">
      </div>
      <div class="col-sm-6 ">
        <h1>Company Name</h1>
		<h6>short description short description short description short description short description short description short description short description </h6>
		
		
		<button type="button" class="btn btn-success float-right" > Edit profile</button>
		</div>
    </div>
	
</div>
<div class="container">     
    <div class="row">
      <div class="col-sm-6">
    <h1>Detail Info:</h1>
	<p> Lorem ipsum Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum  Lorem ipsum Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum   Lorem ipsum     </P>
      </div>
      <div class="col-sm-6 ">
        <h1>Contact information</h1>
		<h6>Phone: 0911000000 </h6>
		<h6>Address: Adddis Ababa</h6>
		<h6>Email: busgdy@gmail.com</h6>

      </div>
    </div>
	
</div>
    
</body>
</html>