{{define "company.jobs.layout"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Company-Home | iJobs What Job is all about</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/customCss.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
        <style>
            .vertical-menu {
                width: 200px;
            }

            .vertical-menu a {
                background-color: #eee;
                color: black;
                display: block;
                padding: 12px;
                text-decoration: none;
            }

            .vertical-menu a:hover {
                background-color: #ccc;
            }

            .vertical-menu a.active {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>
    {{ template "company.navbar" . }}
    {{ template "company.jobs.content" . }}
    {{ template "footer" . }}
    <!-- js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>
    </body>
    </html>
{{end}}

    {{define "company.jobs.content"}}
        <div class="container" style="min-height: 700px">
            <div class="container row" >
                <div class="col">
                    <h3 class="card-header">Posted JOBS</h3>
                    <div class="vertical-menu card">
                        <script>
                            function makeMeActive(id) {
                                $("#active").css("id", "");
                                $(".displayed").css("display", "none");
                                $("#"+id).css("id","active");
                                $("."+id).css("display", "block");
                                $("."+id).addClass("displayed");
                            }
                        </script>
                        {{$cmp := .Company}}
                        {{range .Jobs}}
                            <a id="{{.ID}}" href="#" onclick="makeMeActive({{.ID}})">{{.Name}}</a>
                        {{end}}
                    </div>
                </div>

                <div class="col">
                    <h3 class="card-header">Job Details</h3>
                    {{range .Jobs}}
                        <div class="{{.ID}} card" id="{{.Name}}" class="container-fluid card vertical-menu" style="display: none" >
                            <label class="font-weight-bold" style="margin: 10px 5px">Job Name</label>
                            <span class="">{{.Name}}</span><br>
                            <label class="font-weight-bold text-left" style="margin: 10px 5px">Salary</label>
                            <span class="">{{.Salary}}</span><br>
                            <label class="font-weight-bold text-left" style="margin: 10px 5px ">Required Number</label>
                            <span class="">{{.RequiredNum}}</span><br>
                            <label class="font-weight-bold text-left" style="margin: 10px 5px">Description</label>
                            <span class="">{{.Description}}</span><br>
                            <label class="font-weight-bold text-left" style="margin: 10px 5px">Job Time</label>
                            <span class="">{{.JobTime}}</span><br>
                            <label class="font-weight-bold text-left" style="margin: 10px 5px">Deadline</label>
                            <span class="">{{.Deadline}}</span><br>
                            <button class="my_button"><a href="/company/{{$cmp.CompanyName}}/jobs?id={{.ID}}">Delete</a></button>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    {{end}}

