{{define "company.home.layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company-Home | iJobs What Job is all about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/customCss.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
</head>
<body>
    {{ template "company.navbar" . }}
	{{ template "company.home.content" . }}
    {{ template "footer" . }}
    <!-- js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>
</body>
</html>
{{end}}

{{define "company.home.content"}}
<div class="jumbotron jumbotron-comp-home-content-1">
    <div class="container">	
            <div class="row justify-content-center">
                <div class="col-xs-12">
                        <a class="btn btn-primary btn-lg" href="/company/postjob" role="button" >Post a Job</a>
                </div>
            </div>						
    </div>			
</div>

<div class="jumbotron jumbotron-comp-home-content-2">
    <div class="container js-jobs">
        <div class="row">
            <div class="col-md-6 js-job-applicants">
                <h3>Applicants</h3>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-6 js-jobs-suggested">
                <h3>g</h3>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                      <img src="/assets/img/person.jpg" class="card-img rounded-circle" alt="js-profile-pic" max-width="50" height="50" style="margin-top: 20%;"> </div>
                    <div class="card-body">
                        <h5 class="card-title">Applicant name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">applicant@gmail.com</h6>
                        <h6 class="card-subtitle mb-2 text-muted">0912131415</h6>
                           <span class="card-text mb-2 text-muted">Gender</span>
                           <p class="card-text mb-2 text-muted">Age</p>
                           <a href="#" class="btn btn-primary">View CV</a>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{{end}}