

<!DOCTYPE html>
<html lang="en">


<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">     
    <div class="m-5 row">
	
      <div class="col-sm-2 ">
       <img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\logo.PNG">
      </div>
	    <div class="col-sm-2 ">
       <h5>Home</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>Find company</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>profile</h5>
      </div>

	  </body>
	  </div>
	  </div>
	  <div class="container-fluid">     
    <div class="row">
	

	 
	    
		  <div class="col-sm-1">
       <div class="h-25 p-3""><img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Mini_logo.PNG"></div> 
	   <div class="h-25 p-3""><img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Mini_logo.PNG"> </div> 
	   <div class="h-25 p-3""><img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Mini_logo.PNG"> </div> 		
	   <div class="h-25 p-3""><img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Mini_logo.PNG"> </div> 		
	   <div class="h-25 p-3""><img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\Mini_logo.PNG"> </div> 		

	   </div>
	   		  <div class=" col-sm-3">
			<div class="h-25 p-3 ">
				<h5>Web developer</h5>
				<h6>Deadline 13/01/2020   <button type="delete" id="xbutton">Delete post</button></h6>
			</div>
				<div class="h-25 p-3">
				<h5>Web developer</h5>
				<h6>Deadline 13/01/2020    <button type="delete" id="xbutton">Delete post</button></h6>
					</div>
				<div class="h-25 p-3">
				<h5>Web developer</h5>
				<h6>Deadline 13/01/2020     <button type="delete" id="xbutton">Delete</button></h6>
				</div>
			    <div class="h-25 p-3">
				<h5>Web developer</h5>
				<h6>Deadline 13/01/2020      <button type="delete" id="xbutton">Delete post</button></h6>
				</div>
				<div class="h-25 p-3">
				<h5>Web developer</h5>
				<h6>Deadline 13/01/2020        <button type="delete" id="xbutton">Delete post</button></h6>
				</div>
				
	   </div>


	   <div class="col-sm-8 ">
		<h3 class="text-success">Web developer</h3>
		<p>description descriptiondescription description description description description description description description descriptiondescription description description description</p>
		<h3 class="text-success">Required Skill</h3>
		<p> . Lorem epsum Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  </p>
		<p> . Lorem epsum Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  </p>
		<p> . Lorem epsum Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  </p>
		<p> . Lorem epsum Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  Lorem epsum  </p>

	<div class="container">
	<div class="row">
	<div class="col-sm-4 ">
	  <h3 class="text-success">Required number </h3> 
	   
	  <h3 class="text-success">Salary </h3> 
	   
	  <h3 class="text-success">Job time </h3> 
	  <h3 class="text-success">Deadline </h3> 
	  </div>
	  	<div class="col-sm-4 ">
	  <h4>10 </h4> 
	   
	  <h4>10000 </h4> 
	   
	  <h4>Lorem epsum</h4> 
	  <h4>13/01/2020 </h4> 
	  </div>
	  </div>
	  </div>
		</div>
	  </div>
	  </body>

	  
	  </html>