<!DOCTYPE html>
<html lang="en">
{{ define "job_seeker_profile" }}
{{ template "footer" . }}

{{ end }}


<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>


 <div class="container-fluid">     
    <div class="m-5 row">
	
      <div class="col-sm-2 ">
       <img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\logo.PNG">
      </div>
	    <div class="col-sm-2 ">
       <h5>Home</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>Find company</h5>
      </div>
	   <div class="col-sm-2 ">
       <h5>profile</h5>
      </div>
	   
	    <div class="col-sm-2 ">
       <h5>Applied jobs</h5>
      </div>
	<div class="col-sm-2 ">
    <img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\pic.PNG">
      </div>
	  </div>
	  <hr>
	  </div>
	  	<div class ="container">
	
		   <div class="m-5 row">
		     <div class="col-sm-6 ">
			
			<img src="C:\Users\abi\Go\src\github.com\Abig\iJobs\ui\asset\img\profilepic.PNG">
		
			</div>
		
		
			     <div class="col-sm-6 ">
		<h1>Abigya Abayneh</h1>
		<h2>Abig</h2>
	

		
			
	<button type="button" class="btn btn-success float-right" > Edit profile</button>
		
	</div>
	</div>
	</div>
  <div class="container-fluid">     
    <div class="row">
	
      <div class="col-sm-3 ">
       <hr>
   
		<h6>Work experiance : </h6>
		<h6>Employment status</h6>
		<h6>portfolio:</h6>
		<h6>cv :</h6>
      </div>
      <div class="col-sm-3 ">
	  <hr>
		<h6>3  </h6>             
		<h6>Unemployment  </h6>
		<h6>link</h6>
		<h6>abig.pdf</h6>
   
      </div>
	  <div class="col-sm-3">
	<hr>
	<h6>phone</h6>
	<h6>Address</h6>
	<h6>Email</h6>
	<hr>
	<h6>Gender :</h6>
	<h6>Age:</h6>
	</div>
	  <div class="col-sm-3">
        <hr>
	<h6>0911880989</h6>
	<h6>AddisAbaba</h6>
	<h6>abigiabayneh@gmail.com</h6>
	<hr>
	<h6>Female</h6>
	<h6>20</h6>
      </div>
	 
    </div>
  </div>


    
</body>
</html>