{{define "footer"}}
<div class="jumbotron jumbotron-js-home-content-3">
    <div class="container js-footer-div">
        <div class="row">
            <div class="col-xs-6">
                <div >
                    <p>CONNECT WITH US</p>

                    <a href="#"><i class="fab fa-facebook-f"></i>facebook</a><br>
                    <a href="#"><i class="fab fa-google-plus"></i>Gmail</a><br>
                    <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
                </div>
            </div>
        </div>
            <div class="row justify-content-end js-footer-contact-div">
                <div class="col-xs-6 float-right">
                    <p>Contact Us</p>
                    <a href="#"><i class="fas fa-phone"></i>+251912131415</a><br>
                    <a href="#"><i class="fas fa-phone"></i>+251912131415</a><br>
                    <a href="#"><i class="fas fa-phone"></i>+251912131415</a><br>
                    <a href="#"><i class="fas fa-phone"></i>+251912131415</a><br>
                    <a href="#"><i class="fas fa-phone"></i>+251912131415</a>
                    
                </div>
            </div>
    </div>
    
</div>

<div class="copyright">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <p>copyright&copy 2019 iJobs All Rights Recieved.</p>
            </div>
        </div>
    </div>
</div>

{{end}}