{{define "header.html"}}

    <nav>
        <div class="logo-div col-lg-3 col-sm-5 col-md-4 col-xl-2" >
            <img src="/ui/asset/img/icon/j.jpg" alt="iJobs Logo" width="100px" height="100px">
        </div>
        <div class="nav-div col-lg-9 col-sm-7 col-md-8 col-xl-10" >
            <ul>
                <li><a href="#">Home</a> </li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Jobs</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div>

    </nav>
{{end}}