{{define "jobseeker.home.layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | iJobs What Job is all about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/customCss.css">
	<link rel="stylesheet" type="text/css" href="../libs/fontawesome/fontawesome.css">
</head>
<body>
    {{ template "jobseeker.navbar" . }}
	{{ template "jobseeker.home.content" . }}
    {{ template "footer" . }}
    <!-- js -->
    <script defer src="/libs/fontawesome/js/fontawesome.js"></script>
</body>
</html>
{{end}}

{{define "jobseeker.home.content"}}
<div class="jumbotron jumbotron-js-home-content-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <h3 class="search-job-h3">Find the Job that fits your life.</h3>
            </div>
        </div>		
            <div class="row justify-content-center find-form">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group">
                            <input class="form-control" type="text" id="inputJobTitle" placeholder="keyword/job title">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="inputJobCatagory" placeholder="catagory">
                        </div>
                        <button class="btn btn-primary" type="submit">Find</button>
                    </form>	
                </div>
            </div>						
    </div>			
</div>


<div class="jumbotron jumbotron-js-home-content-2">
    <div class="container js-jobs">
        <div class="row">
            <div class="col-md-6 js-jobs-responded">
                <h3>Recently Responded Jobs</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">View Response</a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">View Response</a>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">View Response</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 js-jobs-suggested">
                <h3>Suggested Jobs</h3>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">Apply</a>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">Apply</a>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Job name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Company name</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                           <p class="card-text">response description from the company they applied to.
                           response description from the company they applied to.</p>
                           <a href="#" class="btn btn-primary">Apply</a>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{{end}}