<!-- Definition of welcome page layout-->
{{ define "jobseeker.profile.edit.layout" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customCss.css">
    <title>Welcome | iJobs Discover Jobs &amp; Join Favourite Companies</title>
  </head>
  <body>
  {{ template "jobseeker.navbar" . }}
  {{ template "jobseeker.profile.edit.content" . }}
  {{ template "footer" . }}

  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script defer src="/assets/js/fontawesome.js"></script>
  </body>
  </html>
{{ end }}

<!DOCTYPE html>
<html lang="en">
{{define "jobseeker.profile.edit.content"}}
<h1 class="text-center text-success">Edit profile</h1>
<div class="container">
<div class="row flex-lg-nowrap">
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#preview').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <form class="form"  action="/jobseeker/{{.Jobseeker.Username}}/profile/edit" method="post" enctype="multipart/form-data">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">


                    <div class="mt-2">
                      <button class="btn btn-success" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                        <img id="preview" height="150px" width="150px" class="rounded-circle" src="/assets/jsdata/{{.Jobseeker.Username}}/pp/{{.Jobseeker.Profile}}" alt="">
                        <input onchange="readURL(this)" type="file" name="propic">
                      </button>
                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>First Name</label>
                              <input class="form-control" type="text" name="fname" value="{{.FName}}">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Last name</label>
                              <input class="form-control" type="text" name="lname" value="{{.LName}}">
                            </div>
                          </div>
						  <div class="col">
                            <div class="form-group">
                              <label>Username</label>
                              <input class="form-control" type="text" name="uname"  value="{{.Jobseeker.Username}}">
                            </div>
                          </div>
						  <div class="col">
                            <div class="form-group">
                              <label>Age</label>
                              <input class="form-control" type="text" name="age" value={{.Jobseeker.Age}}>
                            </div>
                          </div><div class="col">
                            <div class="form-group">
                              <label>Gender</label>
                              <select class="form-control" name="gender" id="gender">
                                <option {{if eq .Jobseeker.Gender "male"}}selected{{end}} value="male">Male</option>
                                <option {{if eq .Jobseeker.Gender "female"}}selected{{end}} value="female">Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" placeholder="user@example.com" name="email" value="{{.Jobseeker.Email}}">
                            </div>
                          </div>
                        </div>
						   <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>work experience</label>
                              <input class="form-control" type="text" placeholder="3 years" name="wrkexpr" value="{{.Jobseeker.WorkExperience}}">
                            </div>
                          </div>
                        </div>
						   <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>portfolio</label>
                              <input class="form-control" type="text" name="portf" value="{{.Jobseeker.Portfolio}}" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Cv</label>
                              <input type="file" class="form-control" name="cv" value="">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              <input class="form-control" type="password" placeholder="••••••" name="currpswd">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" type="password" placeholder="••••••" name="newpswd">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              <input class="form-control" type="password" name="pswdconfirm" placeholder="••••••"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="intjobcat">Categories</label>
                                  <select class="form-control" name="intjobcat" id="intjobcat" multiple>
                                    {{$js := .Jobseeker}}
                                    {{range $normcat := .Categories}}
                                    {{$set := false}}
                                      {{ range $jscat := $js.Categories}}
                                        {{if $jscat eq $normcat}}
                                          {{$set := true}}
                                          <option value="{{$normcat.Name}}" selected>{{$normcat.Name}}</option>
                                        {{end}}
                                      {{end}}
                                      {{if not $set}}
                                        <option value="{{$normcat.Name}}">{{$normcat.Name}}</option>
                                      {{end}}
                                    {{end}}
                                  </select>
                                  <label for="region">Region</label>
                                  <select class="form-control" name="region" id="region">
                                    {{$reg := "Tigray"}}
                                    {{range .Jobseeker.Address}}
                                      {{$reg := .Region}}
                                    {{end}}
                                    {{range .Regions}}
                                      {{if eq $reg .}}
                                        <option value="{{.}}" selected></option>
                                      {{else}}
                                        <option value="{{.}}">{{.}}</option>
                                      {{end}}
                                    {{end}}
                                  </select>
                                  <label for="city">City</label>
                                  <select class="form-control" name="city" id="city">
                                    {{$city := "Addis Ababa"}}
                                    {{range .Jobseeker.Address}}
                                      {{$city := .City}}
                                    {{end}}
                                    {{range .Cities}}
                                      {{if eq $city .}}
                                        <option value="{{.}}" selected></option>
                                      {{else}}
                                        <option value="{{.}}">{{.}}</option>
                                      {{end}}
                                    {{end}}
                                  </select>
                                  <label for="subcity">Sub City</label>
                                  <select class="form-control" name="subcity" id="subcity">
                                    {{$subcity := "Addis Ababa"}}
                                    {{range .Jobseeker.Address}}
                                      {{$subcity := .City}}
                                    {{end}}
                                    {{range .SubCities}}
                                      {{if eq $subcity  .}}
                                        <option value="{{.}}" selected></option>
                                      {{else}}
                                        <option value="{{.}}">{{.}}</option>
                                      {{end}}
                                    {{end}}
                                  </select>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Local Name</span></label>
                              <input class="form-control" type="text" name="localname" value="{{range .Jobseeker.Address}}{{.LocalName}}{{end}}"></div>
                          </div>
                        </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Save Changes</button>
                      </div>
                    </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div clas_s="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="m-5 card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-success">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
      </div>
  </div>
  </div>
  </form>
</div>
</div>
{{end}}