{{define "jobseeker.appliedJobs.layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobseeker| Applied-Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/customCss.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
    <style>
        .vertical-menu {
            width: 100%;
        }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            width: 100%;
            padding: 12px;
            text-decoration: none;
        }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    {{ template "jobseeker.navbar" . }}
	{{ template "jobseeker.appliedJobs.content" . }}
    {{ template "footer" . }}
    <!-- js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>
</body>
</html>
{{end}}

{{define "jobseeker.appliedJobs.content"}}
    <div class="container" style="min-height: 700px">
        <div class="container row align-content-between" >
            <div class="col-3">

                <h3 class="card-header">Applied JOBS</h3>
                <div class="vertical-menu card">
                    <script>
                        function makeMeActive(id) {
                            $(".active").removeClass("active");
                            $(".displayed").css("display", "none");
                            $("#"+id).addClass("active");
                            $("."+id).css("display", "block");
                            $("."+id).addClass("displayed");
                        }
                    </script>
                    {{range .Applications}}
                        {{$cmp := . | appGetCmp}}
                        {{$job := . | appGetJob}}
                        <a id="{{.ID}}" href="#" onclick="makeMeActive({{.ID}})">{{$job.Name}}</a>
                    {{end}}
                </div>
            </div>

            <div class="col-8">
                <h3 class="card-header">Application Details</h3>
                {{range .Applications}}
                    {{$cmp := . | appGetCmp}}
                    {{$job := . | appGetJob}}
                    <div class="{{.ID}} card" id="{{$job.Name}}" class="container-fluid card vertical-menu" style="display: none" >
                        <label class="font-weight-bold" style="margin: 10px 5px">Job Name</label>
                        <span class="">{{$job.Name}}</span><br>
                        <label class="font-weight-bold" style="margin: 10px 5px">Company Name</label>
                        <span class="">{{$cmp.CompanyName}}</span><br>
                        <label class="font-weight-bold text-left" style="margin: 10px 5px">Salary</label>
                        <span class="">{{$job.Salary}}</span><br>
                        <label class="font-weight-bold text-left" style="margin: 10px 5px">Description</label>
                        <span class="">{{$job.Description}}</span><br>
                        <label class="font-weight-bold text-left" style="margin: 10px 5px">Status</label>
                        <span class="">{{.Status}}</span><br>
                        {{if eq .Response "accepted"}}
                            <label class="font-weight-bold text-left" style="margin: 10px 5px">Response</label>
                            <span class="text-success">{{.Response}}</span><br>
                        {{else}}
                            {{if eq .Response "rejected" }}
                                <label class="font-weight-bold text-left" style="margin: 10px 5px">Response</label>
                                <span class="text-danger">{{.Response}}</span><br>
                            {{else}}
                                <label class="font-weight-bold text-left" style="margin: 10px 5px">Response</label>
                                <span class="">{{.Response}}</span><br>
                            {{end}}
                        {{end}}
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}