{{define "jobseeker.navbar"}}
    <header class="border-bottom">
        <div class="container">
            <div class="row">
                <nav class="col-xs-12">
                    <ul class="nav nav-pills">

                        <a class="navbar-brand" href="/welcome"> <img src="/assets/img/icon/j.jpg" alt="logo" width="50" height="50"> </a>
                        <li class="nav-item"><a class="nav-link active" href="/jobseeker/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/jobseeker/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/jobseeker/appliedJobs">Applied Jobs</a></li>
                    </ul>
                    <ul class="nav nav-pills" style="margin-left: 650px;">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardropdownpropic" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/img/person.jpg" width="40" height="40" class="rounded-circle"></a>
                            <div class="dropdown-menu" aria-labelledby="navbardropdownpropic">
                                <a class="dropdown-item" href="#">Edit Profile</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
    
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
{{end}}