{{define "jobseeker.appliedJobs.category.layout"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jobseeker| Applied-Jobs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/customCss.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
    </head>
    <body>
    {{ template "jobseeker.navbar" . }}
    {{ template "jobseeker.appliedJobs.category.content" . }}
    {{ template "footer" . }}
    <!-- js -->
    <script defer src="/assets/js/fontawesome.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>
    </body>
    </html>
{{end}}

{{define "jobseeker.appliedJobs.category.content"}}
    <div class="container-fluid " style="margin-left: 5%;">
        <div class="row no-gutters">
            <div class="d-none d-md-flex col-md-6 col-lg-6">
                <div class="card text-black mb-3 catagories-card">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        {{$uname := .Jobseeker.Username}}
                        {{if .Categories}}
                            {{range .Categories}}
                                <img src="/assets/img/categories/{{.Image}}" alt="Category Image">
                                <a href="/jobseeker/{{$uname}}/appliedjobs/{{.ID}}" class="text-dark btn"><h6 class="card-text">{{.Name}}</h6></a>
                                <hr>
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-6 border-left">
                <div class="jobs-card d-flex">
                    <div class="container">
                        <div class="row-fluid no-gutters">

                            {{$cats := .Categories}}
                            {{$catid := .Catid}}
                            {{if .Applications}}
                                {{range .Applications}}
                                    {{$cmp := . | appGetCmp}}
                                    {{$job := . | appGetJob}}
                                    {{$valid := false}}
                                    {{$catsids := . | appGetJobCatId}}
                                    {{range $catsids}}
                                        {{if $catid eq . }}
                                            {{$valid := true}}
                                        {{end}}
                                    {{end}}
                                    {{if $valid}}
                                        <div class="card mb-3 " style="max-width: 540px;">
                                            <div class="row no-gutters">
                                                {{range $cats}}
                                                    {{if $catid eq .ID}}
                                                        <div class="col-md-2">
                                                            <img src="/assets/img/categories/{{$cats.Name}}" class="card-img" alt="comp-logo" max-width="50" height="50" style="margin-top: 20%;">
                                                        </div>
                                                    {{end}}
                                                {{end}}
                                                <div class="col-md-10">
                                                    <div class="card-body">
                                                        <h5 class="card-title" style="margin-bottom: -1%">{{$job.Name}}</h5>
                                                        <div style="display: inline-flex;">
                                                            <img src="/assets/cmdata/{{$cmp.CompanyName}}/logo/{{$cmp.Logo}}" alt="">
                                                            <h6 class="card-subitle text-muted" style="margin-right: 100px;">{{$cmp.CompanyName}}</h6>
                                                            <p class="card-text" style="margin-right: 10px;"><small class="text-muted">.Status</small></p>
                                                            <p class="card-text" style="margin-right: 10px;"><small class="text-muted">.Response</small></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{end}}
                                {{end}}
                            {{end}}
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-2">
                                        <img src="/assets/img/images.png" class="card-img" alt="comp-logo" max-width="50" height="50" style="margin-top: 20%;">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-bottom: -1%;">Web Developer</h5>
                                            <div style="display: inline-flex;">
                                                <h6 class="card-subitle text-muted" style="margin-right: 100px;">Company name</h6>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Status</small></p>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Response</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-2">
                                        <img src="/assets/img/images.png" class="card-img" alt="comp-logo" max-width="50" height="50" style="margin-top: 20%;">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-bottom: -1%;">Web Developer</h5>
                                            <div style="display: inline-flex;">
                                                <h6 class="card-subitle text-muted" style="margin-right: 100px;">Company name</h6>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Status</small></p>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Response</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-2">
                                        <img src="/assets/img/images.png" class="card-img" alt="comp-logo" max-width="50" height="50" style="margin-top: 20%;">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-bottom: -1%;">Web Developer</h5>
                                            <div style="display: inline-flex;">
                                                <h6 class="card-subitle text-muted" style="margin-right: 100px;">Company name</h6>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Status</small></p>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Response</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-2">
                                        <img src="/assets/img/images.png" class="card-img" alt="comp-logo" max-width="50" height="50" style="margin-top: 20%;">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card-body">
                                            <h5 class="card-title" style="margin-bottom: -1%;">Web Developer</h5>
                                            <div style="display: inline-flex;">
                                                <h6 class="card-subitle text-muted" style="margin-right: 100px;">Company name</h6>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Status</small></p>
                                                <p class="card-text" style="margin-right: 10px;"><small class="text-muted">Response</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{{end}}