<!-- Definition of welcome page layout-->
{{ define "jobseeker.profile.edit.layout" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/customCss.css">
    <title>Welcome | iJobs Discover Jobs &amp; Join Favourite Companies</title>
  </head>
  <body>
  {{ template "jobseeker.navbar" . }}
  {{ template "jobseeker.profile.edit.content" . }}
  {{ template "footer" . }}

  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script defer src="/assets/js/fontawesome.js"></script>
  </body>
  </html>
{{ end }}

<!DOCTYPE html>
<html lang="en">
{{define "jobseeker.profile.edit.content"}}
<h1 class="text-center text-success">Edit profile</h1>
<div class="container">
<div class="row flex-lg-nowrap">
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('#preview').attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  <form class="form"  action="/jobseeker/{{.Jobseeker.Username}}/profile/edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{.Inputs.CSRF}}">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">


                    <div class="mt-2">
                      <button class="btn btn-success" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                        <img id="preview" height="150px" width="150px" class="rounded-circle" src="/assets/jsdata/{{.Jobseeker.Username}}/pp/{{.Jobseeker.Profile}}" alt="">
                        <input onchange="readURL(this)" type="file" name="propic">
                      </button>
                    </div>
                  </div>

                </div>
              </div>

              <div class="tab-content pt-3">
                <div class="tab-pane active">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>First Name</label>
                              {{with .Inputs.VErrors.Get "fname"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" name="fname" value="{{.FName}}">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Last name</label>
                              {{with .Inputs.VErrors.Get "lname"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" name="lname" value="{{.LName}}">
                            </div>
                          </div>
						  <div class="col">
                            <div class="form-group">
                              <label>Username</label>
                              {{with .Inputs.VErrors.Get "uname"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" name="uname"  value="{{.Jobseeker.Username}}">
                            </div>
                          </div>
						  <div class="col">
                            <div class="form-group">
                              <label>Age</label>
                              {{with .Inputs.VErrors.Get "age"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" name="age" value={{.Jobseeker.Age}}>
                            </div>
                          </div><div class="col">
                            <div class="form-group">
                              <label>Gender</label>
                              <select class="form-control" name="gender" id="gender">
                                <option {{if eq .Jobseeker.Gender "male"}}selected{{end}} value="male">Male</option>
                                <option {{if eq .Jobseeker.Gender "female"}}selected{{end}} value="female">Female</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              {{with .Inputs.VErrors.Get "email"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" placeholder="user@example.com" name="email" value="{{.Jobseeker.Email}}">
                            </div>
                            <div class="form-group">
                              <label>Phone</label>
                              {{with .Inputs.VErrors.Get "phone"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" placeholder="user@example.com" name="phone" value="{{.Jobseeker.Phone}}">
                            </div>
                            <div class="form-group">
                              <label>Employment Status</label>
                              {{with .Inputs.VErrors.Get "empstatus"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <select name="empstatus" id="empstatus">
                                <option {{if eq .Jobseeker.EmpStatus "employed"}}selected{{end}} value="employeed">Employed</option>
                                <option {{if eq .Jobseeker.EmpStatus "unemployed"}}selected{{end}} value="unemployeed">Un Employed</option>
                              </select>
                            </div>
                          </div>
                        </div>
						   <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>work experience</label>
                              {{with .Inputs.VErrors.Get "wrkexpr"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="text" placeholder="3 years" name="wrkexpr" value="{{.Jobseeker.WorkExperience}}">
                            </div>
                          </div>
                        </div>
						   <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>portfolio</label>
                              <input class="form-control" type="text" name="portf" value="{{.Jobseeker.Portfolio}}" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Cv</label>
                              <input type="file" class="form-control" name="cv" value="{{.Jobseeker.CV}}">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b>Change Password</b></div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Current Password</label>
                              {{with .Inputs.VErrors.Get "currpswd"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="password" placeholder="••••••" name="currpswd">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>New Password</label>
                              {{with .Inputs.VErrors.Get "newpswd"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="password" placeholder="••••••" name="newpswd">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                              {{with .Inputs.VErrors.Get "pswdconfirm"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <input class="form-control" type="password" name="pswdconfirm" placeholder="••••••"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label for="intjobcat">Categories</label>
                                  <select class="form-control" name="intjobcat" id="intjobcat" multiple>
                                    {{$jscateg := .Jobseeker.Categories}}
                                    {{range .Categories}}
                                    {{$categ := .}}
                                      <option {{range $jscateg}}{{if eq .Name $categ.Name}} selected{{end}}{{end}} value="{{.ID}}">{{.Name}}</option>
                                    {{end}}
                                  </select>
                                  <label for="region">Region</label>
                                  <select class="form-control" name="region" id="region">
                                    {{$jsaddr := .Jobseeker.Address}}
                                    {{range .Regions}}
                                    {{$reg := .}}
                                    <option {{range $jsaddr}}{{if eq .Region $reg}} selected{{end}}{{end}} value="{{.}}">{{.}}</option>
                                    {{end}}
                                  </select>
                                  <label for="city">City</label>
                                  <select class="form-control" name="city" id="city">
                                    {{range .Cities}}
                                    {{$city := .}}
                                    <option {{range $jsaddr}}{{if eq .City $city}} selected{{end}}{{end}} value="{{.}}">{{.}}</option>
                                    {{end}}
                                  </select>
                                  <label for="subcity">Sub City</label>
                                  <select class="form-control" name="subcity" id="subcity">
                                    {{range .SubCities}}
                                    {{$subcity := .}}
                                    <option {{range $jsaddr}}{{if eq .SubCity $subcity}}selected {{end}}{{end}} value="{{.}}">{{.}}</option>
                                    {{end}}
                                      </select>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              {{with .Inputs.VErrors.Get "localname"}}
                                <label class="text-danger">{{.}}</label>
                              {{end}}
                              <label><span class="d-none d-xl-inline">Local Name</span></label>
                              <input class="form-control" type="text" name="localname" value="{{with .Jobseeker.Address}}{{$add := index . 0}}{{$add.LocalName}}{{end}}"/></div>
                          </div>
                        </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">Save Changes</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div></div></div>
  </div>
  </form>
</div>
</div>
{{end}}