{{ define "jobseeker.profile.layout" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home | iJobs What Job is all about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/customCss.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
  </head>
  <body>
    {{ template "jobseeker.navbar" . }}
    {{ template "jobseeker.profile.content" . }}
    {{ template "footer" . }}
  <!-- js -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script defer src="/assets/js/fontawesome.js"></script>
  </body>
  </html>
{{end}}


{{define "jobseeker.profile.content"}}
    <hr>
  <div class ="container">

    <div class="m-5 row">
      <div class="col-sm-6 ">
        <img src="/assets/jsdata/{{.Jobseeker.Username}}/pp/{{.Jobseeker.Profile}}"/>
      </div>
      <div class="col-sm-6 ">
        <h1>{{.Jobseeker.Fullname}}</h1>
        <h2>{{.Jobseeker.Username}}</h2>
        <button type="button" class="btn btn-success float-right" ><a style="text-decoration: none" href="/jobseeker/{{.Jobseeker.Username}}/profile/edit">Edit profile</a></button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 ">
        <hr>

        <h6>Work experiance : </h6>
        <h6>Employment status</h6>
        <h6>cv :</h6>
        <h6>portfolio:</h6>
      </div>
      <div class="col-sm-3 ">
        <hr>
        <h6>{{.Jobseeker.WorkExperience}}  </h6>
        <h6>{{.Jobseeker.EmpStatus}} </h6>
        <h6><a href="/assets/jsdata/{{.Jobseeker.Username}}/cv/{{.Jobseeker.CV}}">Curriculum Vitae</a></h6>
        <h6>{{.Jobseeker.Portfolio}} </h6>
      </div>
      <div class="col-sm-3">
        <hr>
        <h6>Email: </h6>
        <h6>Phone: </h6>
        <h6>Age:</h6>
        <h6>Gender :</h6>
        <h6>Address: </h6>
        <hr>


      </div>
      <div class="col-sm-3">
        <hr>
        <h6>{{.Jobseeker.Email}}</h6>
        <h6>{{.Jobseeker.Phone}}</h6>
        <h6>{{.Jobseeker.Age}}</h6>
        <h6>{{.Jobseeker.Gender}}</h6>
        <h6>
         {{with .Jobseeker.Address}}{{$add := index . 0}}{{$add.LocalName}}, {{$add.SubCity}}, {{$add.City}}, {{$add.Region}}{{end}}

        </h6>
        <hr>
      </div>
    </div>
  </div>
{{end}}