{{define "jobseeker.navbar"}}
    <nav class="border-bottom">
        <div class="container">
            <div class="row">
                <nav class="col-xs-12">
                    <ul class="nav nav-pills">
                        <a class="navbar-brand" href="/welcome"> <img src="/assets/img/icon/j.png" alt="logo" width="50" height="50"> </a>
                        <li class="nav-item"><a class="nav-link active" href="/jobseeker/{{.Jobseeker.Username}}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/jobseeker/{{.Jobseeker.Username}}/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/jobseeker/{{.Jobseeker.Username}}/appliedJobs">Applied Jobs</a></li>
                    </ul>
                </nav>
                <ul class="nav nav-pills" style="margin-left: 650px; display: inline-block">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardropdownpropic" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/jsdata/{{.Jobseeker.Username}}/pp/{{.Jobseeker.Profile}}" width="40" height="40" class="rounded-circle"></a>
                        <div class="dropdown-menu" aria-labelledby="navbardropdownpropic">
                            <a class="dropdown-item" href="/jobseeker/{{.Jobseeker.Username}}/profile/edit">Edit Profile</a>
                            <a class="dropdown-item" href="/signout">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{end}}