<!doctype html>
<html>
	<head>
	
		<title>profile</title>
		<link rel="stylesheet" type="text/css" href="profile.css" >
		<link rel="stylesheet" href="css/bootstrap.min.css" >
		<link rel="stylesheet" href="/assets/css/customCss.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<div class="section1">
		<div class="direct">
		<ul>
		<li><img src="../img/logo.PNG"></li>
		<li><a href="Home.html">Home</a></li>	
		<li><a href="FindCompany.html">Find company</a></li>	
		<li><a href="profile.html">profile</a></li>
		<li><a href="appliedjobs.html">Applied jobs</a></li>
		<li><img src="pic.PNG"></li>
		</ul>
		</div>
		<div class ="prof">
		<div class="pic">
			<img src="../img/profilepic.PNG">
		
			</div>
		
		
			<div class="pic">
		<h1>Abigya Abayneh</h1>
		<h2>Abig</h2>
	

		
		<div class="my_button">		
		<button> Edit profile</button>
		</div>
		
	</div>
	</div>
	<div class="detail">
	<div class="detail1">
	<h2>work information: </h2>             
	<h1>Work experiance : </h1>
	<h1>Employment status</h1>
	<h1>portfolio:</h1>
	<h1>cv :</h1>
	</div>
	<div class="detail1">
	<h2>3  </h2>             
	<h1>Unemployment  </h1>
	<h1>link</h1>
	<h1>abig.pdf</h1>

	</div>
	<div class="detail1">
	<h2>work information</h2>
	<h1>phone</h1>
	<h1>Address</h1>
	<h1>Email</h1>
	<h1>Gender :</h1>
	<h1>Age:</h1>
	</div>
	<div class="detail1">
	<h2>work information</h2>
	<h1>0911880989</h1>
	<h1>AddisAbaba</h1>
	<h1>abigiabayneh@gmail.com</h1>
	<h1>Female</h1>
	<h1>20</h1>
	</div>
	</div>
	
	<div class="footer">
	<div class="foot">
	<h1>Connect with us </h1>
	<h2>facebook</h2>
	<h2>Google+</h2>
	<h2>Twitter</h2>
	
	
	
	</div>
	<div class="foot">
	<h1>Contact us</h1>
	<h2>098892882</h2>
	<h2>098892882</h2>
	<h2>098892882</h2>

	</div>
	</div>
	
		
	</head>