{{define "welcome.navbar"}}

    <header class="border-bottom">
		<div class="container">
        <div class="row">
            <nav class="col-xs-12">
                <ul class="nav nav-pills">
                	<a class="navbar-brand" href="welcome.html"> <img src="../img/j.jpg" alt="logo" width="50" height="50"> </a>
                    <li class="nav-item"><a class="nav-link active" href="#">Welcome</a></li>
                </ul>
            </nav>
        </div>
        </div>
    </header>

{{end}}