{{define "welcome.footer"}}
    <footer id="footer">
        <div class="jumbotron jumbotron-content-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="about-us-h"> About Company</h3>
                        <p class="contact-us-p text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        <div class="float-right footer-div">
                            <h3 class="contact-us-h">Contact Us</h3>
                            <a href="#">abc@gmail.com</a>
                            <p>+2519121314</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12">
                        <p>copyright&copy 2019 iJobs All Rights Recieved.</p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
{{end}}
