.logo-div {
    width: 30%;
    text-align: center;
    float: left;
}
nav {
    background-color: #6f42c1;
    color: #721c24;
    padding: 0 0 0 10px;
}
.nav-div {
    width: 70%;
    float: left;
    height: 80%;
}
.nav-div ul li {
    float: left;
    font-size: 24px;
    list-style-type: none;
    padding: 20px 10px;
}
nav:after {
    display: block;
    content: "";
    clear: both;
}