body{
	padding-top: 16px;
}
.navbar-brand{
	margin-top: -4%;
}
.nav-pills .nav-link.active, .nav-pills .show> .nav-link{
	background-color: #f7fbdd;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-item{
	margin-right: 15px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 50%;
    width: 50%;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    height: 50%;
    width: 50%;
}
.form-group{
	margin-right: 20px;
}





.jumbotron-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #3cb878;
	opacity: .65;
}

.jumbotron-content-1{
	position: relative;
	background-image: url('../img/jobs.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	margin-top: 1%;
}

.SignIn-up_text{
	position: absolute;
	top: 30%;
	left: 30%;
	color: white;
	letter-spacing: 4px;
}

.sign_btn{
	position: absolute;
	top: 45%;
	left: 68%;
	text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus{
	background-color: #c7ea22;
	border-radius: 10px;
}

.about-us-p, .about-us-h{
	margin-left: 10%;
	width: 45%;
}

.jumbotron-content-3{
	background-color: white;
	padding-bottom: 0;
	padding-top: 0;
}

.members-desc{
	margin-left: 20%;
}
.members-p{
	width: 80%;
	padding-top: 1%;
}

.jumbotron-content-4{
	background-color: #3cb878;
	margin-bottom: 0;
	padding-bottom: 0;
}
.contact-us-h{
	width: 100%;
}
.contact-us-p{
	margin-left: 10%;
	width: 25%;
}
.footer-div{
	margin-top: -17%;
	margin-right: 20%;
}

.copyright{
	background-color: #252525;
	color: white;
}

/*/////////////////////////////Jobseeker home page///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.jumbotron-js-home-content-1{
	background-color: #3cb878;
	opacity: .65;
	height: 400px;
	width: 100%;
	margin-top: 1%;
}

.search-job-h3{
	color: white;
	letter-spacing: 4px;
	padding-top: 5%;
}

.find-form{
	margin-top: 15px;
	margin-left: 25px;
}
.jumbotron-js-home-content-2{
	background-color: #ffffff;
	margin-bottom: 0;
	padding: 0;
}

.jumbotron-js-home-content-3{
	background-color: #3cb878;
	opacity: .65;
	height: 200px;
	width: 100%;
	margin-bottom: 0;
	padding-bottom: 0;
}
.js-footer-div{
	margin-top: -2%;
	color: black;
}
.js-footer-contact-div{
	margin-top: -10%;
	margin-right: 20%;
}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////JS-Applied jobs page///////////////////////////////////////////////////*/

.jobs-card{
	margin-top: 15%;
}